.custom-navbar {
    background-color: #023047;
}

.custom-navbar .nav-link,
.custom-navbar .nav-dropdown-item {

    margin-right: 10px; /* Отступ между элементами */
    font-size: 18px;
}

.custom-navbar .navbar-nav {
    display: flex;
    justify-content: center; /* Выравнивание элементов по центру */
}

.custom-navbar .navbar-brand {
    font-size: 24px; /* Изменение размера шрифта */
    padding: 20px;
}
